html,
body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

[hidden] {
    display: none !important;
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 300;
    src: url('../assets/fonts/ProximaNova/ProximaNova-Light.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 400;
    src: url('../assets/fonts/ProximaNova/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 500;
    src: url('../assets/fonts/ProximaNova/ProximaNova-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 700;
    src: url('../assets/fonts/ProximaNova/ProximaNova-Bold.otf') format('opentype');
}
